<section>
    <div class="container-fluid">
        <div class="row justify-content-around my-5">
            <div class="col-lg-6">
                <img class="img-fluid w-100 rounded"
                    src="https://media.istockphoto.com/id/1179667626/photo/woman-holding-a-mobile-phone-with-loan-application-approval.jpg?s=612x612&w=0&k=20&c=gw2DA7zxQ7ChLUIebEix0KOeRc7aFJwpqzU8re29RuM="
                    alt="">
            </div>
            <div style='background-color:black;' class="col-lg-4 text-end text-light rounded mt-3">
                <h3 class="m-4">Instant Personal Loans</h3>
                <h3 class="m-4 text-warning"><strong>Trusted by Over 5 Crore Indians</strong></h3>
                <p class="m-4"><b>From ₹ 1,000 to ₹ 5 Lakhs</b></p>
                <p class="m-4"><b>100% Onpne Process</b></p>
                <p class="m-4"><b>10 Minute Disbursal</b></p>
                <p class="m-4"><b>Direct Bank Transfer</b></p>
                <div>
                    <button class="btn btn-warning text-light shadow my-3">Get Loan Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container-fluid p-3" style='background-color:#88d1d8;'>
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-3 text-center">
                <img src="	https://ik.imagekit.io/krazybee/kreditbee_in/WebVAS/CSR/Home/Msite_ic_CSR-HomeBanner.svg"
                    alt="">
            </div>
            <div class="col-lg-4 text-center">
                <div>
                    <p class='text-light fw-bold'>Know your Credit Score now!</p>
                    <p class='text-light fw-bold'>Check for detailed report & insights!</p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <button class="btn btn-warning text-light">Get Report</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-4">
                <img class="img-fluid rounded"
                    src="https://t4.ftcdn.net/jpg/01/40/77/73/360_F_140777363_OGFyehrc3OWv03oIPUXTxXUuIhKZK0BZ.jpg"
                    alt="">
            </div>
            <div style='background-color: black;' class="col-lg-5 p-3 rounded text-light p-0 mt-3">
                <h1>About us</h1>
                <p>LoanDekho is a platform that facilitates loan transactions between borrowers and personal loan
                    providers such as NBFCs/Banks. All loan applications are approved and sanctioned by the NBFCs/Banks
                    registered with the RBI. All details are clearly stated upfront during the Loan application.</p>

                <p>LoanDekho takes pride in being inclusive as an Instant Loan provider, Users can apply for Personal
                    Loans up to ₹ 5 Lakhs as per the requirement. The documentation needed is minimal and the entire
                    process starting from registration to disbursement takes an average of 10 minutes. The application
                    process is completely online and on approval, the funds are immediately transferred to the bank
                    account of the applicant. There are a number of unique Loan Offers available with simple repayment
                    plans.

                    Know</p>
                <div>
                    <button class="btn btn-warning text-light">Know More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <h1 class="text-center">What We Offer?</h1>
    <hr>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-3">
                <div class="d-flex justify-content-around">
                    <div><img src="https://ik.imagekit.io/krazybee/kreditbee_in/banners/New_Web/ic-what-we-offer-plse.svg" alt="" class="mx-3"></div>
                    <div class="my-2">
                        <strong>Personal Loan for Self-Employed </strong>
                        Personal loans for business owners to fulfill credit needs of ₹1,000 to ₹4 Lakhs with repayment
                        tenures ranging between 3 to 24 months.
                    </div>
                </div>
                <div class="d-flex">
                    <div><img src="https://ik.imagekit.io/krazybee/kreditbee_in/banners/New_Web/ic-what-we-offer-fpl.svg" alt="" class="mx-3"></div>
                    <div class="my-2">
                        <strong>Personal Loan for Self-Employed </strong>
                        Personal loans for business owners to fulfill credit needs of ₹1,000 to ₹4 Lakhs with repayment
                        tenures ranging between 3 to 24 months.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid rounded-circle"
                    src="https://www.bankofbaroda.in/-/media/project/bob/countrywebsites/india/blogs/loansborrowings/images/cluster/types-of-personal-loans-in-india.jpg"
                    alt="personal-loans-in-india">
            </div>
            <div class="col-lg-3">
                <div class="d-flex">
                    <div><img src="https://ik.imagekit.io/krazybee/kreditbee_in/banners/New_Web/ic-what-we-offer-pls.svg" alt="" class="mx-3"></div>
                    <div class="my-2">
                        <strong>Personal Loan for Self-Employed </strong>
                        Personal loans for business owners to fulfill credit needs of ₹1,000 to ₹4 Lakhs with repayment
                        tenures ranging between 3 to 24 months.
                    </div>
                </div>
                <div class="d-flex">
                    <div><img src="https://ik.imagekit.io/krazybee/kreditbee_in/banners/New_Web/ic-what-we-offer-opl.svg" alt="" class="mx-3"></div>
                    <div class="my-2">
                        <strong>Personal Loan for Self-Employed </strong>
                        Personal loans for business owners to fulfill credit needs of ₹1,000 to ₹4 Lakhs with repayment
                        tenures ranging between 3 to 24 months.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div style='background-color:#88d1d8;' class="container-fluid text-light p-4">
        <div class="text-center">
            <h1 class=" text-center">Get started in a few simple clicks</h1>
            <hr>
            <p>Evaluate the loan amount you are eligible for and choose an EMI plan that works for you.</p>
            <div>
                <button class="btn btn-warning text-light">Check Eligibility</button>
            </div>
        </div>
    </div>
</section>