<!-- company-news.component.html -->
<div style='background-color:black' class="container-fluid p-4 my-4">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div style='background-color:black' class="card-body text-light">
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kreditbee.in/blog/content/images/size/w1000/2023/12/shutterstock_2078659612-min.jpg">
                <div class="card-body text-light" style='background-color:black'>
                    <h5 class="card-title">What Are Doctor Loans and How Do They Work?</h5>
                    <p>In the complex world of finance, doctors often find themselves facing unique
                        challenges when it comes to</p>
                    <button class="btn btn-sm btn-warning text-light">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>