<nav class="navbar navbar-expand-lg bg-body-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="/assets/Img/Logo-removebg-preview.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink='signup'>Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Loan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Personal Loan</a></li>
                        <li><a class="dropdown-item" href="#">Flexi Personal Loan</a></li>
                        <li><a class="dropdown-item" href="#">Personal Loan for Self-Employed</a></li>
                        <li><a class="dropdown-item" href="#">Personal Loan for Seleried</a></li>
                        <li><a class="dropdown-item" href="#">Purchase On EMI</a></li>
                        <li><a class="dropdown-item" href="#">Salary On Demand</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                        <li><a class="dropdown-item" href="#">EMI Calculator</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Credit Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Repyment</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a><button type="button" mat-flat-button color="primary">Sign in</button></a>
            </form>
        </div>
    </div>
</nav>