<section style='background-color:black;'>
    <div class="container-fluid p-3 text-light">
        <div class="row justify-content-around">
            <div class="col-lg-2 col-md-2 col-sm-5 footer-child-main-div">
                <div>
                    <h5 class='text-uppercase'><u>LoanDekho</u></h5>
                </div>
                <div>
                    <p>conatct-us</p>
                    <p>FAQ</p>
                    <p>Responsible Lending</p>
                    <p>Instant Personal Loan App</p>
                    <p>Sitemap</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 footer-child-main-div">
                <div>
                    <h5 class='text-uppercase'><u>services</u></h5>
                </div>
                <div>
                    <p>Flexi Loan</p>
                    <p>Personal-Loan for Self-Employed</p>
                    <p>Personal-Loan for Seleried</p>
                    <p>Perchase on EMI</p>
                    <p>Salary on Demand</p>
                    <p>Loan Againt Property</p>
                    <p>Business Loan</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 footer-child-main-div">
                <div>
                    <h5  class='text-uppercase'><u>Our Company</u></h5>
                </div>
                <div>
                    <p>About US</p>
                    <p>We are hiring</p>
                    <p>Parter with us</p>
                    <p>Digital landing Partners</p>
                    <p>Blog</p>
                    <p>New Borad</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 footer-child-main-div">
                <div  class='text-uppercase'>
                    <h5><u>Legal</u></h5>
                </div>
                <div>
                    <p>Terms and Condition</p>
                    <p>Privicy Policy</p>
                    <p>Grievance Redressal</p>
                    <p> Corporate Social Responsibility Policy</p>
                    <p> Security Centre</p>
                    <p>Corporate I nformation</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 footer-child-main-div">
                <div class="d-flex justify-content-center">
                    <p><img class="w-50 mx-2" src="https://ik.imagekit.io/krazybee/kreditbee_in/ic_Facebook.svg" alt=""></p>
                    <p><img class="w-50 mx-2" src="https://ik.imagekit.io/krazybee/kreditbee_in/ic_LinkedIn.svg" alt=""></p>
                    <p><img class="w-50 mx-2" src="https://ik.imagekit.io/krazybee/kreditbee_in/ic_Twitter.svg" alt=""></p>
                    <p><img class="w-50 mx-2" src="https://ik.imagekit.io/krazybee/kreditbee_in/ic_Instagram.svg" alt=""></p>
                </div>
            </div>
            <div class="text-center">
                <p>All rights reserved @2023</p>
            </div>
        </div>
    </div>
</section>