<mat-card>
    <mat-card-content>
        <div class="example-form conatiner-fluid d-flex justify-content-around">
            <div class="row justify-content-center formDiv">
                <div class="col-lg-5 col-md-4 col-sm-4">
                    <div>
                        <h1>Flexible Personal Loan</h1>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <p class="mb-0 ms-3 fw-bold text-success fs-3">✓</p>
                        <p class="mb-0 ms-3 fw-light ">For Salaried and Self-Employed</p>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <p class="mb-0 ms-3 fw-bold text-success fs-3">✓</p>
                        <p class="mb-0 ms-3 fw-light ">From ₹3,000 upto ₹5 Lakhs</p>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <p class="mb-0 ms-3 fw-bold text-success fs-3">✓</p>
                        <p class="mb-0 ms-3 fw-light ">100% Online Process</p>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <p class="mb-0 ms-3 fw-bold text-success fs-3">✓</p>
                        <p class="mb-0 ms-3 fw-light ">Quick Approval</p>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <p class="mb-0 ms-3 fw-bold text-success fs-3">✓</p>
                        <p class="mb-0 ms-3 fw-light ">10-Minute Disbursal</p>
                    </div>
                    <div class="d-flex mt-2 align-items-center">
                        <p class="mb-0 ms-3 fw-bold text-success fs-3">✓</p>
                        <p class="mb-0 ms-3 fw-light ">Direct Bank Transfer</p>
                    </div>
                </div>
                <form class="d-grid col-lg-5 col-md-6 col-sm-6 shadow p-3">
                    <a class="mb-2" routerLink="/login">Already Member click-here to <strong>Sign-in</strong></a>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="example.com">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="********">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Enter 10 digit mobile number</mat-label>
                        <input type="number" matInput placeholder="+91">
                    </mat-form-field>

                    <div class="d-flex">
                        <mat-checkbox class="example-margin"></mat-checkbox>
                        <p class="fw-light fs-6">By continuing I agree to KreditBee's Privacy Policy and Terms &
                            Conditions and receive communication from KreditBee via SMS, E-
                            Mail and WhatsApp</p>
                    </div>
                    <div>
                        <button class="w-100" mat-raised-button color="warn">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>